<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Inserción</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/zonaAdmin">Admin Tienda</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#categorias">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#usuarios">Usuarios</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <h2 class="text-center mb-4">Editar Producto</h2>

      <!-- Accordion Component -->
      <div class="accordion" id="formAccordion">
        <!-- Producto Form -->
        <div class="accordion-item">
          
          <div
            id="collapseProducto"
            aria-labelledby="headingProducto"
            data-bs-parent="#formAccordion"
          >
            <div class="accordion-body">
				<form
	                method="post"
	                th:object="${productoAEditar}"
	                th:action="@{/zonaAdmin/editar/producto/submit}"
	            >
				<input type="hidden" th:field="*{id}" />     

                <div class="mb-3">
                  <label for="nombreProducto" class="form-label"
                    >Nombre del Producto</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombreProducto"
                    name="nombre"
					th:field="*{nombre}"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="descripcionProducto" class="form-label"
                    >Descripción</label
                  >
                  <textarea
                    class="form-control"
                    id="descripcionProducto"
                    name="descripcion"
                    rows="3"
					th:field="*{descripcion}"
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="precioProducto" class="form-label">Precio</label>
                  <input
                    type="number"
                    class="form-control"
                    id="precioProducto"
                    name="precioUnitario"
                    step="0.01"
					th:field="*{precioUnitario}"
					required
                  />
                </div>
                <div class="mb-3">
                  <label for="cantidadProducto" class="form-label">Stock</label>
                  <input
                    type="number"
                    class="form-control"
                    id="cantidadProducto"
                    name="stock"
                    step="1"
					th:field="*{stock}"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="categoriaProducto" class="form-label">Categorías</label>
                  <div th:each="categoria : ${listaCategorias}">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" th:id="${'categoria_' + categoria.id}" th:field="*{categorias}" th:checked="${productoAEditar.categorias.contains(categoria.id)}" th:name="categorias" th:value="${categoria.id}">
                      <label class="form-check-label" th:for="${'categoria_' + categoria.id}" th:text="${categoria.nombre}"></label>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="imagenProducto" class="form-label"
                    >Imagen URL</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="imagenProducto"
                    name="imagen"
					th:field="*{imagen}"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  Editar Producto
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
